In [63]:
import pandas as pd
from datetime import date, datetime
import re
import os
#Carregando arquivo excel em formato dataframe
dataframe_original = pd.read_excel('Amostras.xlsx', engine='openpyxl') 

dataframe_original.head(5)

,CD_EVOLUCAO,NR_ATENDIMENTO,NM_USUARIO,DS_EVOLUCAO,VALIDACAO
0,7560322,818153,DIANA.SOUSA,ANOTACAO ???DE ENFERMAGEM - NOTURNO PACIENTE E...,NÃO
1,7560345,818153,LUCIANA.FEITOSA,EVOLUCAO DE FISIOTERAPIANOITE\n EM IH POR:- IT...,SIM
2,7561867,818153,AMANDA.NUNES,EVOLUCAO DE ENFERMAGEM - UTI CLINICA I - DIURN...,SIM
3,7561917,818153,KAROLYNE.FREIRE,EVOLUCAO DE FISIOTERAPIAMANHA\n EM IH POR:- IT...,SIM
4,7562674,818153,MARTILIANA.LIMA,PLANTAO MTEM INTERNACAO NA UTI CLINICA I POR S...,NÃO

In [64]:
#Separando apenas as colunas 'DS_EVOLUCAO' e 'VALIDACAO'
dataframe_formatado = dataframe_original[['DS_EVOLUCAO','VALIDACAO']].copy()
#Converto os valores da coluna VALIDACAO SIM para 1 e NÃO para 0
dataframe_formatado.loc[dataframe_formatado['VALIDACAO'] == "SIM", 'VALIDACAO'] = 1
dataframe_formatado.loc[dataframe_formatado['VALIDACAO'] == "NÃO", 'VALIDACAO'] = 0
#Removo todos os caracteres '?'
dataframe_formatado['DS_EVOLUCAO'] = dataframe_formatado['DS_EVOLUCAO'].str.replace('?','',regex=False) #

dataframe_formatado.head(5)

                                         DS_EVOLUCAO VALIDACAO
0  ANOTACAO DE ENFERMAGEM - NOTURNO PACIENTE EVOL...         0
1  EVOLUCAO DE FISIOTERAPIANOITE\n EM IH POR:- IT...         1
2  EVOLUCAO DE ENFERMAGEM - UTI CLINICA I - DIURN...         1
3  EVOLUCAO DE FISIOTERAPIAMANHA\n EM IH POR:- IT...         1
4  PLANTAO MTEM INTERNACAO NA UTI CLINICA I POR S...         0

In [73]:
dicionario_termos = [
    "ASPIROU","ASPIREI","ASPIRO","ASPIRADO","ASPIRAR",
    "ASPIRACAO","SECRECAO","TRACHCARE","VAS","TRACH","CARE",
    "VIAS SUPERIORES","AEREAS","SECRECAO","ASP"
]

pattern = r"\b(" + "|".join([re.escape(i) for i in dicionario_termos]) + r")\b"
print(pattern)

\b(ASPIROU|ASPIREI|ASPIRO|ASPIRADO|ASPIRAR|ASPIRACAO|SECRECAO|TRACHCARE|VAS|TRACH|CARE|VIAS\ SUPERIORES|AEREAS|SECRECAO|ASP)\b

In [75]:
dataframe_filtrado = dataframe_formatado[dataframe_formatado['DS_EVOLUCAO'].str.contains(pattern, regex=True)]
path = os.path.join('Dados_Tratados/')
file_name = 'Dados_Tratados_' + f"{datetime.today().strftime('%d-%m-%y')}" + ".xlsx"
file_path = path + file_name
dataframe_filtrado.to_excel(file_path)

C:\Users\Artur\AppData\Local\Temp\ipykernel_28900\2278312639.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  dataframe_filtrado = dataframe_formatado[dataframe_formatado['DS_EVOLUCAO'].str.contains(pattern, regex=True)]